Repository frgfm/validate-python-headers, changes with the labels that .github/labeler.yml gives for each.
All labels: module: src, module: action, topic: ci, topic: docs, topic: docker, topic: build, topic: style

docs(pyproject): update the version index
  pyproject.toml
Labels: topic: build

fix(src): update the suggestion when the headers are invalid
  src/validate_headers.py
Labels: module: src

fix( src): repair error message
  src/validate_headers.py
Labels: module: src

fix(src): update the suggestion when headers are invalid (#20)
  pyproject.toml
  src/validate_headers.py
Labels: module: src, topic: build

ci(github): remove layer caching
  .github/workflows/builds.yml
  .github/workflows/tests.yml
Labels: none

build(docker): bump python from 3.8 to 3.11
  Dockerfile
Labels: topic: docker

perf(docker): bump python from 3.8 to 3.11 (#21)
  .github/workflows/builds.yml
  .github/workflows/tests.yml
  Dockerfile
Labels: topic: docker

docs(readme): update the message example
  README.md
Labels: topic: docs

docs(readme): update the message example (#22)
  README.md
Labels: topic: docs

style(pre-commit): bump ruff to 0.5.1
  .pre-commit-config.yaml
Labels: topic: style

style(pre-commit): bump ruff to 0.5.5
  .pre-commit-config.yaml
Labels: topic: style

style(pyproject): update ruff rule selection
  pyproject.toml
Labels: topic: build

style(pre-commmit): bump ruff to 0.5.6
  .pre-commit-config.yaml
Labels: topic: style

build(deps): switch from poetry to uv
  poetry.lock
  pyproject.toml
  uv.lock
Labels: topic: build

docs: add multiple markdown files for repo
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/dependabot.yml
  .github/license-notice.txt
  CITATION.cff
  Makefile
Labels: topic: ci

style(precommit): update config
  .pre-commit-config.yaml
Labels: topic: style

ci(github): update CI jobs
  .github/verify_deps_sync.py
  .github/workflows/build.yml
  .github/workflows/pr-edited.yml
  .github/workflows/push.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .github/workflows/triage.yml
Labels: topic: ci

ci(github): fix build
  .github/workflows/build.yml
Labels: none

ci(github): revert license notice removal
  .github/license-notice.txt
Labels: topic: ci

ci(mypy): update setup
  .github/workflows/style.yml
Labels: none

style(github): fix lint
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/workflows/push.yml
Labels: topic: ci

build(deps-dev): switch from poetry to uv (#46)
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/dependabot.yml
  .github/verify_deps_sync.py
  .github/workflows/build.yml
  .github/workflows/pr-edited.yml
  .github/workflows/push.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .github/workflows/triage.yml
  .pre-commit-config.yaml
  CITATION.cff
  Makefile
  poetry.lock
  pyproject.toml
  uv.lock
Labels: topic: ci, topic: build, topic: style

ci(push): fix GHCR docker push
  .github/workflows/push.yml
  Makefile
Labels: none

ci(push): fix GHCR docker push (#49)
  .github/workflows/push.yml
  Makefile
Labels: none

build(deps): bump uv and ruff to latest versions
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: topic: build, topic: style

docs(readme): update readme badge
  README.md
Labels: topic: docs

ci(github): bump uv version to 0.5.13
  .github/workflows/build.yml
  .github/workflows/push.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: none

build(deps-dev): update lockfile
  uv.lock
Labels: none

build(docker): clean docker orchestration
  .gitignore
  Dockerfile
Labels: topic: docker

style(gitignore): fix lint
  .gitignore
Labels: none

build(deps): remove unnecessary deps (#50)
  .github/workflows/build.yml
  .github/workflows/push.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  pyproject.toml
  uv.lock
Labels: topic: docs, topic: docker, topic: build, topic: style

.github/labeler.yml:

'module: src':
- changed-files:
  - any-glob-to-any-file: src/*

'module: action':
- changed-files:
  - any-glob-to-any-file: action.yml

'topic: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - CODFE_OF_CONDUCT.md
    - LICENSE

'topic: docker':
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - entrypoint.sh

'topic: build':
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - poetry.lock

'topic: style':
- changed-files:
  - any-glob-to-any-file: .pre-commit-config.yaml
